# ==========================================
# 排除所有非学习内容
# ==========================================

# 软件安装目录
ADS/
DA/
WPS/

# 快捷方式
*.lnk

# Windows 系统文件
Thumbs.db
Desktop.ini

# 文档和杂项
*.docx
*.bat
网盘/
总实验报告/
科技创新/
自主学习/

# 编译产物（以后写 C 会生成）
*.exe
*.o
*.obj
*.out
*.elf
*.hex
*.bin

# Watt Toolkit 加速工具（不是学习内容）
WattToolkit/

# IDE 文件夹
.vscode/
.idea/
*.uvguix.*
*.uvoptx
*.scvd
Debug/
Release/

# STM32 资料盘（太大，不传 git）
stm32H562/ziliao/

# STM32 编译产物
stm32h562_test/build/
